@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="text-center">
        <img src="~/images/car-icon.png" width="200" height="160"/>
        <h1 class="display-4">CARS ISLAND</h1>
        <p><b>Welcome! We hope you will enjoy riding our cars!</b></p>
    </div>
</body>
</html>
